[submodule "labino_rp2040/rp2040/pico-sdk"]
	path = labino_rp2040/rp2040/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "labino_rp2040/rp2040/libs/FreeRTOS-Kernel"]
	path = labino_rp2040/rp2040/libs/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
